---
import BlogPost from '../../components/BlogPost.astro';
import '../../global.css';
import Navbar from '../../components/Navbar.astro'
import Footer from '../../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
export async function getStaticPaths() {

    const allPosts = await Astro.glob('../../posts/*/*.mdx');
    const uniqueTags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];

    return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.frontmatter.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts,allPosts },
    };
  });
} 


const { tag } = Astro.params;
const {posts,allPosts} = Astro.props



---
<style>
    @media only screen and (min-width: 1000px) {
        .blogPage{
        width:70%;
        max-height: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* align-items: center; */
        /* text-align: justify; */
        padding:20px;
        padding-right:10px;
        margin-left: 4%;
        margin-top:100px;
        margin-bottom: 20px;
        /* box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px 0px, rgba(27, 31, 35, 0.1) 0px 0px 0px 1px; */
    }
    .blogPage::-webkit-scrollbar{
        width:0;
    }
    .sidePanelContainer{display: flex;
        flex-direction: column;
        /* background-color: #feffa8; */
        height:100%;
        padding:20px;
        z-index: inherit;
        /* background-color: black; */
        

    }
    .sidePanel{
        display: flex;
        flex-direction: column;
        width:30%;
        height:500px;
        margin-top:100px;
        margin-right:4%;
        z-index: 999;
        /* background-color: black; */
        padding-left:10px;
    }
    .link{
        color:#5395f2;
        text-decoration: none;
        display: flex;
        padding-bottom:5px;
        

    }
    .link h5{
        color:white;
    }
    .link:hover{
        color:white;
    }
    .blogPageMain{
        display: flex;
        justify-content: start;
        height:100vh;
    }
    .blogPage p{
        text-align:justify ;
    }
    }
@media only screen and (max-width: 1000px){
    .blogPage{
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* text-align:justify; */
        padding:50px;
        margin-top:100px;
        margin-bottom: 100px;
        /* box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px 0px, rgba(27, 31, 35, 0.1) 0px 0px 0px 1px; */
    }
    .sidePanel{
        display: none;
    }
    .blogPageMain{
        display: flex;
        justify-content: start;
        height:100%;
    }
}
   
</style>
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" as="style">
<ViewTransitions/>
</head>
<main  >
<Navbar />
<div class="blogPageMain"  >
<div class="blogPage" transition:animate="fade" >
        {posts.map((post) => <BlogPost post={post} />)}
    </div>
    <div class="sidePanel">
        <div class="sidePanelContainer">
            <h2>Links</h2>


            {allPosts.map((post,index)=>{
                return <div style="display: flex;flex-direction: row;align-items: center;">
                           
                            <a class="link" href={"/blog/"+ post.frontmatter.tags[0]} style={posts[0].frontmatter.tags[0]===post.frontmatter.tags[0]?"color:#feffa8;":""} > <h5 style="margin:0;margin-right: 5px;">{posts[0].frontmatter.tags[0]===post.frontmatter.tags[0]?">":"-"} </h5>{post.frontmatter.title}</a>
                        </div>
            })}

        </div>

    </div>
    </div>
    <!-- <Footer/> -->
</main>