---
import BlogPost from '../../components/BlogPost.astro';
import '../../global.css';
import Navbar from '../../components/Navbar.astro'

export async function getStaticPaths() {

    const allPosts = await Astro.glob('../../posts/*/*.mdx');
    const uniqueTags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];

    return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.frontmatter.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
} 


const { tag } = Astro.params;
const {posts} = Astro.props



---
<style>
    @media only screen and (min-width: 1000px) {
        .blogPage{
        width:60%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: justify;
        padding:50px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px 0px, rgba(27, 31, 35, 0.1) 0px 0px 0px 1px;
    }
    }
@media only screen and (max-width: 1000px){
    .blogPage{
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* text-align:justify; */
        padding:50px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px 0px, rgba(27, 31, 35, 0.1) 0px 0px 0px 1px;
    }
}
   
</style>
<head>
    <meta charset="UTF-8">
</head>
<main >
<Navbar />
<div style="display: flex;justify-content: center;">
<div class="blogPage" style="margin-top:100px;margin-bottom: 100px;" >
        {posts.map((post) => <BlogPost post={post} />)}
    </div>
</div>
</main>