---
import '../../global.css'
import BlogCard from '../../components/BlogCard.astro'
import Navbar from '../../components/Navbar.astro'
import SearchBar from '../../components/SearchBar.jsx'

const posts =await Astro.glob('../../posts/*.md')


---

<style>
    @media only screen and (max-width: 1000px) {
        .blogCards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       padding: 50px;
       width: 100vw;
       gap: 30px;
        justify-content: center;
        
    }
    .searchBar{
        margin-top: 150px;
         width:100%;
         display:flex;
         justify-content: center;
    }
    }
    @media only screen and (min-width: 1000px) {
        .blogCards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        
    }
    .searchBar{
        margin-top: 100px;
         width:100%;
         display:flex;
         justify-content: center;
    }
    }
    
</style>
<main >
    <Navbar/>
    <div class="searchBar" ><SearchBar /></div>
   <div class="blogCards" style=" padding:20px;">
    
    {posts.map(item=>{
        
       return <BlogCard data={item.frontmatter} url={item.frontmatter.tags[0]} />
        // <div>{item.frontmatter.title}</div>
    })}
   </div>
</main>