---
import '../../global.css'
import BlogCard from '../../components/BlogCard.astro'
import Navbar from '../../components/Navbar.astro'

const posts =await Astro.glob('../../posts/*.md')


---

<style>
    .blogCards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        
    }
</style>
<main >
    <Navbar/>
   <div class="blogCards" style="margin-top: 100px; padding:50px;">
    {posts.map(item=>{
        
       return <BlogCard data={item.frontmatter} url={item.frontmatter.tags[0]} />
        // <div>{item.frontmatter.title}</div>
    })}
   </div>
</main>