---
import Navbar from '../components/Navbar.astro'
import '../global.css'
import ContactForm from '../components/ContactForm.jsx'
// import { Icon } from 'astro-icon/components'

import 'iconify-icon';

console.log(Astro.props)
const message=""
---
<style>
    @media only screen and (max-width:1000px){
.form{
    margin-top: 200px;display:flex;justify-content: center;

}

    }
    iconify-icon {
   display: inline-block;
   width: 1em;
   height: 1em;
   color: white;
}
</style>
<script src="https://code.iconify.design/iconify-icon/2.0.0/iconify-icon.min.js"></script>
<main>
<Navbar/>
    
   <div class="form">

    <ContactForm client:only="react" />

   </div>
</main>