---
import Navbar from '../components/Navbar.astro'
import '../global.css'
import VideoCard from '../components/VideoCard.jsx'
import ViewTransitions from 'astro/components/ViewTransitions.astro'

const videos = await Astro.glob('../content/video/*.mp4')
import 'iconify-icon'
---
<style>
    @media only screen and (min-width:1000px){
    .videoContainer{
        margin-top:150px;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-right:100px;
        padding-left:100px;
        justify-content: center;
    }
}

@media only screen and (max-width:1000px){
    .videoContainer{
        margin-top:200px;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-right:30px;
        padding-left:30px;
        justify-content: center;
    }
}
</style>
<head>
    <ViewTransitions/>
</head>
<main>
    <Navbar/>
    <div class="videoContainer" transition:animate="fade">
        <!-- { videos.map(video=>{
            
       return( <VideoCard video = {video} client:only="react" />)
        })} --> 
           <iframe transition:animate="fade" width="100%" height="100%" src="https://www.youtube.com/embed/ZxbiiZE2ICw" title="Best of Ben Bohmer" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
           

    </div>
<iconify-icon icon="mdi:home" observer="false"> </iconify-icon>

</main>
