---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro'
import '../global.css'

---


	<main>

		<Navbar />
		
	</main>



