---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro'
import '../global.css'
import '../components/Loading.astro'
import { ViewTransitions } from 'astro:transitions';
import Loading from '../components/Loading.astro';

---
<style>
	.loading-screen {

  z-index: 1000; /* Make sure it's on top of other elements */
}

.hidden {
  display: none;
}.section{
		/* width: 100vw; */
		display:flex;
		height: 100vh;
		margin:0;
		padding:50px;
		
		/* background-color: antiquewhite; */
	}
	.home{
		margin:0;
		margin-top:0px;
	}
	.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(61, 61, 61);
}
.hero-text {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7; /* Medium opacity for the video */
}

.hero-content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
  color: white;
  text-align: center;
}

.hero-heading {
  font-size: 1rem;
  color: white;
  max-width: 80%;
}

.navbar h2 {
        flex-grow: 1;
    }
    .navbar h2 a{
        color: #76ABAE;
    }

.navbarmain{
	position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Adjust background as needed */
  transition: opacity 0.3s ease;
  opacity: 0; /* Initially hidden */
  z-index: 10;
}
.visible{
	opacity:1;
}

.inner-text {
  position: relative;
  /* top: 50%;c */
  height: 100px;
  
  transform: translateY(-50%);
  @media only screen and (min-width: 320px) {
    padding-left: 15px;
    padding-right: 15px; 
  }
  @media only screen and (min-width: 400px) {
    padding-left: 40px;
    padding-right: 40px; 
  }
  @media only screen and (min-width: 680px) {
    font-size: 75px;
  }
  @media only screen and (min-width: 950px) {
    font-size: 60px;
  }
}

.p1 {
  display: inline-block;
  font-size: 1em;
  font-weight: 900;
  marign: 0;
  line-height: 1;
  @media only screen and (max-width: 465px) {
    display: block;
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.p2 {
  display: inline-block;
  font-size: .5em;
  font-weight: 100;
  marign: 0;
  line-height: 1;
  color: #ffffff;
  @media only screen and (max-width: 465px) {
    position: relative;
    top: 0.6em;
  }
}

.hero-down {
  position: absolute;
  bottom: 0;
  font-size: 2em;
  width: 2em;
  height: 2em;
  color: #f5f5f5;
  border-radius: 100%;
  &:hover, &:focus {
    color: #ccc;
  }
  &:active {
    color: #f5f5f5;
  }
  .btn-react {
    background-color: #f5f5f5;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    opacity: 0;
    position: absolute;
  }
  i {
    vertical-align: bottom;
    position: relative;
    top: 0.1em;
  }
}

.section h1{
	font-size: x-large;
	font-weight: 400;
	font-style: italic;
	display: flex;
	width: 100vw;
justify-content: center;
margin:0;
height: 50px;
color: #31363f;
}
/* .hero-logo{
	
	

} */
.hero-logo {
	display: flex;
	justify-content: center;
  padding:10px; /* Text color */
 	
text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.467);
  color: #76ABAE;
  font-size: 50px;
  font-style: italic;
  border-radius: 100px;
}


</style>
<head>
	<ViewTransitions/>
</head>
<body>
	<div id="loadingScreen" class="loading-screen">
		<Loading />
	  </div>

	<main transition:animate="fade" class="main-content hidden">

		<div class="navbarmain">
			<Navbar  />
		</div>
		
		<div class="home">
			<div class="">
				
				
				<section class="hero">
					<video class="hero-video" autoplay muted loop>
					  <source src="./src/content/video/test.mp4" type="video/mp4">
					  Your browser does not support the video tag.
					</video>
					
					<div class="hero-content">
					  <h1 class="hero-heading">
						<section class="hero-text">
							<h1 class="hero-logo">STARLIGHT CINEMATICS</h1>

						<div class="inner-text">
						  <!-- <p class="p1">STARLIGHT CINEMATICS </p> -->
						  <p class="p2">CINEMA</p>
						</div>
						<a class="hero-down" href="#this">
						  <div class="btn-react"></div>
						  <i class="fa fa-chevron-down"></i>
						</a>
					  </section></h1>
					</div>
				  </section>
			</div>
			<div class="section"> 
				
				<h1>SERVICES</h1>
				
			</div>
			<div class="section">
				
				<h1>portfolio </h1>
				
			</div>
			<div class="section">
				
				<h1>FPV Drone tech </h1>
				
			</div>
			<div class="section">
				
				<h1>Blog </h1>
				
			</div>
			<div class="section">
				
				<h1>FAQ </h1>
				
			</div>
			<div class="section">
				
				<h1>contact </h1>
				
			</div>
		</div>
		
	</main>
</body>
	<script>
		console.log('script loaded')
		document.addEventListener('scroll', () => {
		  const navbar = document.querySelector('.navbarmain');
		  if (window.scrollY > 400) {
			navbar.style.opacity = '1';
		  } else {
			navbar.style.opacity = '0';
		  }
		});

		document.addEventListener('DOMContentLoaded', () => {
			const loadingScreen = document.getElementById('loadingScreen');
      const mainContent = document.querySelector('.main-content');
console.log('loaded')
      // Simulate loading time
      window.addEventListener('load', () => {
		console.log('removed loading screen')
        loadingScreen.classList.add('hidden');
        mainContent.classList.remove('hidden');
      });


      const strings = ["MOTOR SPORTS", "CONCERTS", "AERIAL CONTENT"];
      const typeSpeed = 50;
      const backSpeed = 10;
      const backDelay = 2000;
      let currentStringIndex = 0;
      let currentCharIndex = 0;
      let isDeleting = false;
      const typewriterElement = document.querySelector('.p2');

      function type() {
        const currentString = strings[currentStringIndex];
        typewriterElement.textContent = currentString.substring(0, currentCharIndex);

        if (!isDeleting && currentCharIndex < currentString.length) {
          currentCharIndex++;
          setTimeout(type, typeSpeed);
        } else if (isDeleting && currentCharIndex > 0) {
          currentCharIndex--;
          setTimeout(type, backSpeed);
        } else if (!isDeleting && currentCharIndex === currentString.length) {
          isDeleting = true;
          setTimeout(type, backDelay);
        } else if (isDeleting && currentCharIndex === 0) {
          isDeleting = false;
          currentStringIndex = (currentStringIndex + 1) % strings.length;
          setTimeout(type, typeSpeed);
        }
      }

      type();

      const heroDown = document.querySelector('.hero-down');
      heroDown.addEventListener('mousedown', () => {
        const btnReact = document.querySelector('.btn-react');
        btnReact.style.opacity = '0.25';
        btnReact.style.transform = 'scale(1)';
        setTimeout(() => {
          btnReact.style.opacity = '0';
          btnReact.style.transform = 'scale(0)';
        }, 250);
      });

      const smoothScrollLinks = document.querySelectorAll('a[href*="#"]:not([href="#"])');
      smoothScrollLinks.forEach(link => {
        link.addEventListener('click', function(event) {
          if (
            location.pathname.replace(/^\//, '') === this.pathname.replace(/^\//, '') &&
            location.hostname === this.hostname
          ) {
            const target = document.querySelector(this.hash) || document.querySelector(`[name=${this.hash.slice(1)}]`);
            if (target) {
              event.preventDefault();
              target.scrollIntoView({
                behavior: 'smooth'
              });

			  
            }
			
          }
        });
      });
    });
	  </script>
	  



