---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro'
import '../global.css'
import { ViewTransitions } from 'astro:transitions';

---
<head>
	<ViewTransitions/>
</head>
	<main transition:animate="fade" >

		<Navbar  />
		
	</main>



