---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro'
import '../global.css';
import {Image} from 'astro:assets'

import test from "../content/video/test.mp4"
import '../components/Loading.astro'
import { ViewTransitions } from 'astro:transitions';
import Loading from '../components/Loading.astro';
import Footer from '../components/Footer.astro';
import sl from "../content/sl.png";
import Services from '../components/Services.astro'
---
<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

	.loading-screen {

  z-index: 1000; /* Make sure it's on top of other elements */
}

.hidden {
  display: none;
}

  .section h1{
        display: flex;
        width: 100%;
      }
  .section.tabs{
    display: flex;
    flex-direction: column;

  }
	.home{
		margin:0;
		margin-top:0px;
	}
	.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(61, 61, 61);
}
.hero-text {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7; /* Medium opacity for the video */
}

.hero-content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
  color: white;
  text-align: center;
}

.hero-heading {
  font-size: 1rem;
  color: white;
  max-width: 80%;
}

.navbar h2 {
        flex-grow: 1;
    }
    .navbar h2 a{
        color: #76ABAE;
    }

.navbarmain{
	position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Adjust background as needed */
  transition: opacity 0.3s ease;
  opacity: 0; /* Initially hidden */
  z-index: 10;
}
.visible{
	opacity:1;
}

.inner-text {
  position: relative;
  /* top: 50%;c */
  height:100px;
  text-align: center;
  transform: translateY(-50%);
  @media only screen and (min-width: 320px) {
    padding-left: 15px;
    padding-right: 15px; 
  }
  @media only screen and (min-width: 400px) {
    padding-left: 40px;
    padding-right: 40px; 
  }
  @media only screen and (min-width: 680px) {
    font-size: 75px;
  }
  @media only screen and (min-width: 950px) {
    font-size: 60px;
  }
}

.p1 {
  display: inline-block;
  font-size: 1em;
  font-weight: 900;
  marign: 0;
  line-height: 1;
  @media only screen and (max-width: 465px) {
    display: block;
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.p2 {
  display: inline-block;
  font-size: .5em;
  font-weight: 100;
  margin: 0;
  line-height: 1;
  color: #ffffff;
  @media only screen and (max-width: 465px) {
    position: relative;
    /* top: 0.6em; */
  }
}

.hero-down {
  
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  margin:20px;
  color: #f5f5f5;
  border-radius: 100%;
  &:hover, &:focus {
    color: #ccc;
  }
  &:active {
    color: #f5f5f5;
  }

}


/* .hero-logo{
	
	

} */
@media only screen and (max-width:1000px){
	.hero-logo {
	display: flex;
	justify-content: center;
  padding:10px; /* Text color */
 	margin-bottom: 50px;
/* text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.467); */
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
  color: #76ABAE;
  font-size: 6vw;
  font-style: italic;
  font-weight: 900;
  width: 100%;
  text-align: center;
  border-radius: 100px;
}
.hero-tag{
  font-size: 1.8em;
  font-weight: 300;
  margin-top:20px;
  margin-bottom: 15px;
  font-style: italic;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);

}
.btn-react {
    background-color: #76ABAE;
    width: 50%;
    opacity: 1;
    border-radius: 10px;
    padding:20px;
    margin:40px;
    text-align: center;
    
  }
 .btn-react:hover {
  cursor: pointer;
 }
 .section{
		display:flex;
    flex-direction: column;
		height: 100vh;
		margin:0;
    /* width: 100vw; */
		padding:30px;
    color: #31363f;
		
		/* background-color: antiquewhite; */
	}
  .section h1{
	font-size: 1.8em;
	font-weight: 400;
	font-style: italic;
	display: flex;
	/* width: 100vw; */
justify-content: center;
margin:0;
height: 70px;
color: #31363f;
}

}
@media only screen and (min-width:1000px){
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

  .section{
		display:flex;
    flex-direction: column;
		height: 100vh;
		margin:0;
    /* width: 100vw; */
		padding:50px 100px;
    color: #31363f;
		
		/* background-color: antiquewhite; */
	}
  .section h1{
	font-size: x-large;
	font-weight: 400;
	font-style: italic;
	display: flex;
	/* width: 100vw; */
justify-content: center;
margin:0;
height: 40px;
color: #31363f;
}
.hero-logo {
	display: flex;
  flex-direction: column;
	justify-content: center;
  align-items: center;
  padding:10px; /* Text color */
 	margin: 0%;
/* text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.467); */
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
  color: #76ABAE;
  font-size: 50px;
  font-style: italic;
  font-weight: 900;
  border-radius: 100px;
}
.hero-tag{
  font-weight: 300;
  margin-top:20px;
  margin-bottom: 5px;
  font-style: italic;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);

}
.btn-react {
    background-color: #76ABAE;
    /* width: 120px; */
    opacity: 1;
    border-radius: 5px;
    padding:10px;
    padding-right:20px;
    padding-left: 20px;
    text-align: center;
    font-size: 20px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  
  
  }
 .btn-react:hover {
  cursor: pointer;
 }
}
.mouse_wave {
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
	//background: blue;
	margin-top: 15px;
}
.scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}
.one
{
  margin-top: 1px;
}
.one, .two, .three
{
    -webkit-animation: mouse-wave 1s infinite;
    -moz-animation: mouse-wave 1s infinite;
}
.one
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}

.two
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}

.three
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}


@-webkit-keyframes mouse-wave {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-wave {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-wave {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-wave {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

@keyframes animate {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
		transform: rotate(45deg) translate(10px, 10px);
	}
	100% {
		opacity: 0;
	}
}
</style>
<head>
	<ViewTransitions/>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
	<div id="loadingScreen" class = "loading-screen" style="position: fixed;width:100vw;height:100vh;overflow:hidden; background-color: #000; z-index: 1000;">
		<Loading />
	  </div>

	<main transition:animate="fade" class="main-content hidden">

		<div class="navbarmain">
			<Navbar  />
		</div>
		
		<div class="home">
			<div class="">
				
				
				<section class="hero">
					<video class="hero-video" autoplay muted loop>
					  <source src={test} type="video/mp4">
					  Your browser does not support the video tag.
					</video>
					
					<div class="hero-content">
					  <h1 class="hero-heading">
						<section class="hero-text">
							<h1 class="hero-logo">      STARLIGHT CINEMATICS 
                 <!-- <Image src={sl} alt="Description of my image" style="width:100px;height:100px"/> -->
              </h1>
               
              <h3 class="hero-tag">Capturing the World from New Heights with</h3>
						<div class="inner-text">
						  <p class="p1">FPV</p>
						  <p class="p2"></p>
              
						</div>
						<div class="hero-down" >
						  <div class="btn-react">Learn More</div>
						 
						</div>
             
            <div class="mouse_wave">


              <span class="scroll_arrows one"></span>
              <span class="scroll_arrows two"></span>
              <span class="scroll_arrows three"></span>
        
        </div>
            
					  </section></h1>
					</div>
				  </section>
			</div>
			<div class="section"> 
				
				<h1>SERVICES</h1>
        <!-- <Image src={sl} alt="Description of my image" style="width:200px;height:200px"/> -->
<Services />
				
			</div>
			<div class="section">
				
				<h1>portfolio </h1>
				
			</div>
			<div class="section">
				
				<h1>FPV Drone tech </h1>
				
			</div>
			<div class="section">
				
				<h1>Blog </h1>
				
			</div>
			<div class="section">
				
				<h1>FAQ </h1>
				
			</div>
			<div class="section">
				
				<h1>contact </h1>
				
			</div>
		</div>
		<Footer/>
	</main>
</body>
	<script>

		document.addEventListener('scroll', () => {
		  const navbar = document.querySelector('.navbarmain');
		  if (window.scrollY > 400) {
			navbar.style.opacity = '1';
		  } else {
			navbar.style.opacity = '0';
		  }
		});

		document.addEventListener('DOMContentLoaded', () => {
			const loadingScreen = document.getElementById('loadingScreen');
      const mainContent = document.querySelector('.main-content');
console.log('loaded')
      // Simulate loading time
      window.addEventListener('load', () => {
		console.log('removed loading screen')
        loadingScreen.classList.add('hidden');
        mainContent.classList.remove('hidden');
      });


      const strings = ["MOTOR SPORTS", "CINEMATIC SEQUENCE", "REAL ESTATE","SPORTS & EVENTS", "TRAVEL & TOURISM"];
      const typeSpeed = 50;
      const backSpeed = 10;
      const backDelay = 2000;
      let currentStringIndex = 0;
      let currentCharIndex = 0;
      let isDeleting = false;
      const typewriterElement = document.querySelector('.p2');

      function type() {
        const currentString = strings[currentStringIndex];
        typewriterElement.textContent = currentString.substring(0, currentCharIndex);

        if (!isDeleting && currentCharIndex < currentString.length) {
          currentCharIndex++;
          setTimeout(type, typeSpeed);
        } else if (isDeleting && currentCharIndex > 0) {
          currentCharIndex--;
          setTimeout(type, backSpeed);
        } else if (!isDeleting && currentCharIndex === currentString.length) {
          isDeleting = true;
          setTimeout(type, backDelay);
        } else if (isDeleting && currentCharIndex === 0) {
          isDeleting = false;
          currentStringIndex = (currentStringIndex + 1) % strings.length;
          setTimeout(type, typeSpeed);
        }
      }

      type();

	setTimeout(() => {
            const container = document.querySelector('.container');
            if (container) {
                container.style.display = "none";
            } else {
                console.error('Element with class .container not found.');
            }
        }, 300);
	
    // 
    });
	  </script>
	  



