---

// import '../../global.css'
const {post} = Astro.props
const Data = post.Content

---
<style>
    div h5{
        margin:0px;
        font-weight: 300;
        margin-right:10px;
        color: #feffa8;
    }
    h1{
        margin-top:0px;
    }

</style>
<main>

    
    <div>
<div class="date" style="display: flex;flex-direction: row; justify-content: start;margin:0;">
        <h5>{post.frontmatter.date}, </h5>
        <h5> {post.frontmatter.author}</h5>
    </div>
    

        <Data />
    </div>
</main>