---

---
<style>
    main{
        background-color: #feffa8;
        width: 100%;
        display: flex;
        position: relative;
        bottom:0;
    }
    main div{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: start;
        color: black;
        padding-left: 100px;
        align-items: center;
    }
    h5{
        margin:0px;
        padding:10px;
        color: black;
        font-weight: 500;
    }
a{
    text-decoration: none;
}
</style>
<main>
    <div>
   <a href="/"><h5>Contact</h5></a>|
   <a href="/"><h5>Terms & Conditions</h5></a>|
   <a href="/"><h5>Privacy Policy</h5></a>

    </div>

</main>