---
import '../global.css'

---
<style>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 9999;
}
body{
    background: #000;
    transition: 1s ease;
    height: 100vh;
    color: #fff;
    z-index: 9999;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

}
h1{
    font-size: 1.5rem;
    font-weight: 200;
}
.ring{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.ring::before{
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}
@keyframes ring {
    0%{
        transform: rotate(0deg);
        box-shadow: 0px 5px 5px #ff5b5b;
    }
    25%{
        transform: rotate(90deg);
        box-shadow: 0px 5px 5px #fffc66;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 0px 5px 5px #75d8ff;
    }
    75% {
        transform: rotate(270deg);
        box-shadow: 0px 5px 5px #d46fff;
    }
    100% {
        transform: rotate(360deg);
        box-shadow: 0px 5px 5px #ff5b5b;
    }
}

</style>
<div class="container">
    <div class="ring">
        <h1>Loading...</h1>
    </div>
</div>

<script>
      window.addEventListener('DOMContentLoaded', (event) => {
        setTimeout(() => {
            const container = document.querySelector('.container');
            if (container) {
                container.style.display = "none";
            } else {
                console.error('Element with class .container not found.');
            }
        }, 300);
    });
</script>