---

---
<style>
    @media  (max-width:1000px){
        .navbar{
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 90px;
        background-color: rgba(36, 36, 36, 0.8);
        padding-right: 100px;
        padding-left: 100px;
        max-width: 100vw;
        color: #feffa8;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
        z-index: 999;
        backdrop-filter: blur(5px);

        
    }
    .navbar h2{
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .mobileOptions{
        display: flex;
        position: fixed;
        bottom:0;
        flex-direction: row;
        justify-content: space-around;
        width: 100vw;
        background-color:rgba(36, 36, 36, 0.8) ;
        backdrop-filter: blur(5px);
        align-items: center;

    }
    .options{
        display: none;
    }
    a h4:hover{
        color:#5395f2;
        
    }
    a h4{
        color: #feffa8;
        font-weight: 400;
        transition: 0.1s;
    }
    a{
        text-decoration: none;
    }

    }

    @media (min-width:1000px ) {
        .navbar{
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 90px;
        background-color: rgba(36, 36, 36, 0.8);
        padding-right: 100px;
        padding-left: 100px;
        justify-content: center;
        max-width: 100vw;
        color: #feffa8;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
        z-index: 999;
        backdrop-filter: blur(5px);

        
    }
    .mobileOptions{
        display: none;
    }
    .options{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 25%;
        align-items: center;

    }
    a h4:hover{
        color:#5395f2;
        
    }
    a h4{
        color: #feffa8;
        font-weight: 400;
        transition: 0.1s;
    }
    a{
        text-decoration: none;
    }

    }
    
</style>
<div style="display:flex;max-width: 100vw;position:fixed;top:0;z-index: 999;">
<main class="navbar">
    <h2 style="flex-grow: 1;font-weight: 800;
    font-style: italic;align-items: center;display:flex"> STARLIGHT CINEMATICS</h2>
<div class="options">
   <a href="/blog"><h4>Blog</h4></a>
  <a href="/gallery"><h4>Gallery</h4></a>
   <a href="/contact"><h4>Contact</h4></a>
</div>
</main>
<div class="mobileOptions">
    <a href="/blog"><h4>Blog</h4></a>
   <a href="/gallery"><h4>Gallery</h4></a>
    <a href="/contact"><h4>Contact</h4></a>
 </div>

</div>