---
import ViewTransitions from "astro/components/ViewTransitions.astro"
import '../global.css'
---
<style>
    @media only screen and (max-width:1000px){
        .navbar{
        display: flex;
        flex-direction: row;
        width: 100vw;
        justify-content: center;
        height: 150px;
        background-color: #31363ff8;
        padding-right: 100px;
        padding-left: 100px;
        max-width: 100vw;
        color: #76ABAE;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
        z-index: 999;
        backdrop-filter: blur(5px);

        
    }
    .navbar h2 {
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 50px;
        color: #76ABAE;
    }
    .navbar h2 a{

        color: #76ABAE;
    }

    .mobileOptions{
        display: flex;
        position: fixed;
        bottom:0;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100vw;
      padding-top: 20px;
      padding-bottom: 20px;
        font-size: 30px;
        background-color:#31363f;
        /* backdrop-filter: blur(5px); */
        box-shadow: rgba(0, 0, 0, 0.3) 0px -2px 4px;

        align-items: center;

    }
    .options{
        display: none;
    }
    a h2:hover{
        color:#76ABAE;
        
    }
    a h2{
        color: #76ABAE;
        font-weight: 400;
        font-size: larger;
        transition: 0.1s;
    }
    a{
        text-decoration: none;
    }
    span{
        width:1px;
        height:120px;
        background-color: white;
    }

    }

    @media only screen and (min-width:1000px ) {
        .navbar{
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 90px;
        background-color: #31363fef;
        padding-right: 100px;
        padding-left: 100px;
        justify-content: center;
        max-width: 100vw;
        color: #76ABAE;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
        z-index: 999;
        backdrop-filter: blur(10px);

        
    }
    .mobileOptions{
        display: none;
    }
    .options{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 25%;
        align-items: center;

    }
    .navbar h2 {
        flex-grow: 1;
    }
    .navbar h2 a{
        color: #76ABAE;
    }
    a h4:hover{
        color:#76ABAE;
        
    }
    a h4{
        color: #EEEEEE;
        font-weight: 400;
        transition: 0.1s;
    }
    a{
        text-decoration: none;
    }

    }
    
</style>
<head>
    <!-- <ViewTransitions/> -->
</head>
<div style="display:flex;max-width: 100vw;position:fixed;top:0;z-index: 999;" >
<main class="navbar">
   <h2 style="flex-grow: 1;font-weight: 800;
    font-style: italic;align-items: center;display:flex"><a href="/">STARLIGHT CINEMATICS</a> </h2>

<div class="options">
   <a href="/blog"><h4>Posts</h4></a>
  <a href="/gallery"><h4>Gallery</h4></a>
   <a href="/contact"><h4>Contact</h4></a>
</div>

</main>
<div class="mobileOptions">
    <a href="/blog"><h2>Posts</h2></a> <span></span>
   <a href="/gallery"><h2>Gallery</h2></a> <span></span>
    <a href="/contact"><h2>Contact</h2></a>
 </div>

</div>