<!-- ---
const {video} = Astro.props

import '../global.css'

const playVideo =()=>{
    console.log('video played')

}

---
<style>
    .videoCard{

    }
</style>

<main>
<div class="videoCard" >
    <video width="400px" height="300px" >
        <source src={video.default} />
        </video></div>
</main> -->