
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Montserrat", sans-serif;
  /* font-optical-sizing: auto; */
  line-height: 1.5;
  font-weight:200;
  font-size:large;
  font-style: normal;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

@media only screen and (max-width:1000px){
body{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.video{
    transition: 0.1s;
}
.video:hover{
    transform: scale(1.05);
}
}

@media only screen and (min-width:1000px){
    body{
        margin:0;
    }
    
    .video{
        transition: 0.1s;
    }
    .video:hover{
        transform: scale(1.05);
    }
}
