
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Montserrat", sans-serif;
  /* font-optical-sizing: auto; */
  line-height: 1.5;
  font-weight:200;
  font-size:medium;
  font-style: normal;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

@media only screen and (max-width:1000px){
body{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    user-select: none;
}
p{
    font-size: 20px;
   }
.search{
    width: 100%;
    height:80px;
    font-size: 30px;
    border-radius: 20px;
}
.search::placeholder{
    padding-left: 20px;
}
button{
    margin-left:10px;
    font-size: 40px;
    width: 40%;
    border-radius: 20px;

    background-color:#5395f2 ;
}


.video{
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
    transition: 0.1s;
}
.video:hover{
    transform: scale(1.05);
}
}

@media only screen and (min-width:1000px){
    body{
        margin:0;
    }
    .search{
        width: 100%;
        height:40px;
        padding-left: 10px;
        border-radius: 10px;
    }
   
   p{
    font-size: 16px;
   }
    button{
        width:150px;
        font-size: 20px;
        border-radius: 10px;
        margin-left: 10px;
        background-color:#5395f2 ;

    }
    
    .video{
        width: 30%;
        transition: 0.1s;

    }
    .video:hover{
        transform: scale(1.05);
    }
}
